html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #0056b3;
    color: white;
}

.close-banner{
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}

.close-banner:hover{
    transform: scale(1.2);
}

.dark-mode {
    background-color: black !important;
    color: white !important;
}

.hide {
    display: none !important;
}

.toggle-container-mobile {
    display: none;
}

.toggle-container,
.toggle-container-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-container p,
.toggle-container-mobile p {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    background-color: #666;
    align-items: center;
}

.caption {
    display: flex;
    align-items: center;
}

.flag {
    display: none;
}

.site-name {
    padding: 12px;
}

.site-name h1,
.site-name h6 {
    margin: 0;
    padding: 0;
}

.menu-container {
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 10px;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    top: 10px;
    right: 10px;
}

#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "X";
}

.show {
    display: flex;
    flex-direction: column;
}

nav {
    text-align: center;
    background-color: #666;
    width: 100%;
    display: none;
}

.navigation {
    position: absolute;
    z-index: 5;
}


nav a {
    color: white;
    padding: 10px 0;
    font-size: 18px;
    text-decoration: none;
}

.toggle-container {
   width: 75px;
}

.sun,
.moon {
    font-size: 24px;
}

.sun:hover,
.moon:hover {
    cursor: pointer;
    font-size: 32px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    width: 100%;
}

.hero {
    position: relative;
    overflow: hidden;
    min-height: 400px;
}

.hero img {
    height: fit-content;
    transform: translateX(-900px);
    position: relative;
    z-index: 0;
}

.hero .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay button {
    background-color: royalblue;
    font-size: 24px;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 250px;
    height: 75px;
    opacity: .9;
    cursor: pointer;
}

.card {
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 5px 5px lightgray;
}

.card .card-header {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.card-header h5 {
    font-size: 18px;
}

h4,
h5,
hr,
p {
    padding: 0;
    margin: 0;
}

.card-header hr {
    margin: 5px 0;
}

.event-header {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.weather-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#member-spotlight .section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#member-spotlight hr {
    margin: 10px 0;
}

.member-info p {
    padding: 3px 0;
}

footer {
    background-color: #666;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 10px;
}

.footer-content {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.chamber-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}

.chamber-info .contact p {
    padding: 3px 0;
}

.class-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.class-info span {
    display: none;
}

.grid-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* Sidebar */
.sidebar {
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


#sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    border-radius: 5px;
}

#sidebar-content h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

#sidebar-content h2,
#sidebar-content h3 {
    padding: 0;
    margin: 0;
    width: 100%;
}

#sidebar-content .sidebar-event {
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#sidebar-content .subtitle {
    padding: 0;
    margin: 0;
}

.sidebar-section {
    border: 1px solid lightgray;
    padding: 15px;
}

.sidebar-section hr {
    margin-top: 5px;
}

.sidebar-event:last-child {
    border-bottom: none !important;
}

.hiking-highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Gallery */

.main-content h2 {
    text-align: center;
}

.gallery {
    display: flex;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

.image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container figure {
    margin: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.image-container figcaption {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px;
}

.image-container img{
    width: 500px;
    margin-top: 15px;
}

#join-main{
            display: flex;
            width: 100%;
            min-height: 70vh;
            flex-direction: column;
        }

        #join-sidebar{
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        #join-sidebar fieldset{
            border-radius: 5px;
            padding: 15px;
        }

        #join-sidebar legend{
            font-size: 1.5em;
            font-weight: bold;
        }

        #join-sidebar .form-element{
            margin: 15px 0;
            display: flex;
            justify-content: space-between;
        }

        #join-sidebar label{
            width: 40%;
            text-align: right;
            padding-right: 10px;
        }

        #join-sidebar input, #join-sidebar select, #join-sidebar textarea{
            width: 60%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid black;
        }

        #join-sidebar textarea{
            height: 100px;
        }

        #join-sidebar .form-submit{
            display: flex;
            justify-content: flex-end;
        }

        #join-sidebar button{
            width: 50%;
            padding: 10px;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        #membership-benefits{
            width: 100%;
        }

        /* Join */
        #join-main{
            display: flex;
            width: 100%;
            min-height: 70vh;
            flex-direction: column;
        }

        #join-sidebar{
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        #join-sidebar fieldset{
            border-radius: 5px;
            padding: 15px;
        }

        #join-sidebar legend{
            font-size: 1.5em;
            font-weight: bold;
        }

        #join-sidebar .form-element{
            margin: 15px 0;
            display: flex;
            justify-content: space-between;
        }

        #join-sidebar label{
            width: 40%;
            text-align: right;
            padding-right: 10px;
        }

        #join-sidebar input, #join-sidebar select, #join-sidebar textarea{
            width: 60%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid black;
        }

        #join-sidebar textarea{
            height: 100px;
        }

        #join-sidebar .form-submit{
            display: flex;
            justify-content: flex-end;
        }

        #join-sidebar button{
            width: 50%;
            padding: 10px;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        #membership-benefits{
            width: 100%;
        }