@media only screen and (min-width: 40em) {

    .flag {
        display: block;
        padding-left: 50px;
    }

    .menu-container {
        display: none;
    }

    .navigation {
        display: none;
    }

    .navigation-full {
        display: flex;
        width: 50%;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    nav a:hover {
        border-bottom: 2px solid white;
    }

    .toggle-container-mobile {
        visibility: hidden;
    }

    .hero img {
        width: 100%;
        height: auto;
        transform: none;
    }

    .overlay button {
        width: 500px;
    }

    .overlay button:hover {
        box-shadow: 0 0 10px 8px lightgray;
    }

    .card {
        height: 250px;
    }

    .card-header h5 {
        font-size: 32px;
    }

    .events {
        width: 75%;
    }

    .weather {
        width: 25%;
    }

    #member-spotlight .section-header {
        display: none;
    }

    #member-spotlight .card {
        width: 33%;
    }

    section {
        display: flex;
    }

    .chamber-info {
        flex-direction: row;
    }

    .chamber-info div {
        width: 50%;
    }

    .class-info {
        flex-direction: row;
        width: 50%;
        margin: auto;
        padding: 10px;
    }

    .class-info span {
        display: inline;
    }

    /* Discovery.html Styles */
    .grid-container {
        display: grid;
        grid-template-columns: 500px 1fr;
        grid-template-rows: fit-content;
        grid-gap: 20px;
    }
    
    .main-content h2 {
        text-align: initial;
    }

    .gallery {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
        margin-top: 20px;
    }

    /* Join.html Styles */
    #join-main{
        flex-direction: row;
    }

    #join-sidebar{
        width: 25%;
        border-right: 3px solid black;
        padding: 10px;
    }

    #membership-benefits{
        width: 75%;
        padding: 10px;
    }

    /* Directory.html Styles */
    .view-option-container{
        justify-content: flex-start !important;
    }

    #view-container{
        width: 75% !important;
    }

    .card-view{
        flex-direction: row !important;
    }

    .directory-card{
        width: 300px !important;
    }
}