@media only screen and (min-width: 40em) {

    .flag {
        display: block;
    }

    .menu-container {
        display: none;
    }

    .navigation {
        display: none;
    }

    .navigation-full {
        display: flex;
        width: 50%;
    }

    .navigation-full {
        background-color: darken(#666, 20%);
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    nav a:hover {
        border-bottom: 2px solid white;
    }

    .toggle-container-mobile{
        visibility: hidden;
    }

    .hero img {
        width: 100%;
        height: auto;
        transform: none;
    }

    .overlay button {
        width: 500px;
    }

    .overlay button:hover {
        box-shadow: 0 0 10px 8px lightgray;
    }

    .card {
        height: 250px;
    }

    .card-header h5 {
        font-size: 32px;
    }

    .events {
        width: 75%;
    }

    .weather {
        width: 25%;
    }

    #member-spotlight .section-header {
        display: none;
    }

    #member-spotlight .card {
        width: 33%;
    }

    section {
        display: flex;
    }

    .chamber-info{
        flex-direction: row;
    }

    .chamber-info div {
        width: 50%;
    }

    .class-info{
        flex-direction: row;
        width: 50%;
        margin: auto;
        padding: 10px;
    }

    .class-info span{
        display: inline;
    }
}